.vscode/*
!.vscode/settings.json
.idea/
.vs/
*.userprefs
*.user
*opencover.xml
*cobertura.xml
codecov.sh
lcov.info
bin/
obj/
.DS_Store
Thumbs.db
**/BenchmarkDotNet.Artifacts/*.log
!**/BenchmarkDotNet.Artifacts/results/*github.md
docs/api/*
!docs/api/index.md
docs/_site/*
docs/docfx/*
docs/docfx.zip
/samples/Sentry.Samples.Aws.Lambda.AspNetCoreServer/Properties/launchSettings.json
*.received.*
mono_crash.*.json
test_output/
test/**/*.apk
/tools/
*.log
.sentry-native

# Download cache for Cocoa SDK
modules/sentry-cocoa
