.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
.vs/
*.userprefs
*.user
*opencover.xml
lcov.info
bin/
obj/
.DS_Store
**/BenchmarkDotNet.Artifacts/*.log
!**/BenchmarkDotNet.Artifacts/results/*github.md
/packages
.xunit/