<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>

    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />

    <!-- Needed for: Microsoft.DotNet.XHarness.TestRunners.Xunit -->
    <add key="dotnet-eng" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-eng/nuget/v3/index.json" protocolVersion="3" />

    <!-- from perfview -->
    <add key="dotnet-public" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-public/nuget/v3/index.json" />
    <add key="perfview-build" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/perfview-build/nuget/v3/index.json" />
    <add key="integration-test" value="./temp/packages" />
  </packageSources>

  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="dotnet-public">
      <package pattern="*" />
    </packageSource>
    <packageSource key="perfview-build">
      <package pattern="*" />
    </packageSource>
    <packageSource key="dotnet-eng">
      <package pattern="Microsoft.DotNet.XHarness.*" />
    </packageSource>
    <packageSource key="integration-test">
      <package pattern="Sentry" />
    </packageSource>
  </packageSourceMapping>
</configuration>
