# https: //docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*.cs]

# Justification: Azure Functions project doesn't utilize synchronization context
#Disabled for now until https://github.com/Azure/azure-functions-dotnet-worker/issues/1520 is answered
#dotnet_diagnostic.CA2007.severity = none