<?xml version="1.0" encoding="utf-8"?>
<!-- nuget5.config is meant for testing with .NET 5.0 / NuGet 5. It is otherwise same as
     nuget.config but without <packageSourceMapping> which was added in .NET 6.0 / NuGet 6
     https://learn.microsoft.com/en-us/nuget/consume-packages/package-source-mapping  -->
<configuration>
  <packageSources>
    <clear />
    <add key="integration-test" value="./packages" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
