@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sentry ASP.NET MVC 5 Demo</h1>
    <p class="lead">Open-source error tracking that helps developers monitor and fix crashes in real time. Iterate continuously. Boost efficiency. Improve user experience.</p>
</div>
<div class="row">
    <div class="col-md-3">
        <h2>Post the form!</h2>
        <form method="post" action="@Url.Action("PostIndex", "Home")">
            Write some stuff:
            <input type="text" name="first-field"><br><br>
            More here:<br>
            <input type="text" name="second-field"><br><br>
            <button>Crash with a form submission!</button>
        </form>
    </div>
    <div class="col-md-3">
        <h2>JSON via AJAX</h2>
        <script>
            postJson = () =>
                $.ajax({
                    url: "/Home/PostIndex",
                    type: "POST",
                    data: $("#json").val(),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    error: f => alert("Response: " + f.status)
                });
        </script>
        <textarea rows="6" id="json">
{
    "a": "b",
    "c": [ { "d": "e",
           "f": "g" } ]
}
</textarea>
        <button onclick="postJson()">Crash with XHR JSON!</button>
    </div>
    <div class="col-md-6">
        <form method="post" action="@Url.Action("ThrowEntityFramework")">
            <button class="btn btn-primary">Crash with Entity Framework!</button>
        </form>
    </div>
</div>
