@{
    ViewData["Title"] = "Explicit Capture";
}
<h1>@ViewData["Title"]</h1>

<p>
    It looks like you got here without error... actually there was an error but we caught it, sent it to Sentry, and
    then recovered, so the user doesn't know anything happened (unless they're reading this of course).
</p>
