/* styles all <a> tags within <nav> tags */
nav {
    width: 100%;
    background-color: #7428d2;
    padding: 0.0em;
}

nav a {
    color: #f0f0f0;
    text-decoration: none;
    font-family: sans-serif;
    padding: 1.0em;
    border-style: none;
    display: inline-block; /* makes the links align horizontally */
}

/* styles for hovered <a> tags within <nav> tags */
nav a:hover {
    background-color: #d37e05;
    color: #f0f0f0;
}

button {
    color: #fff;
    background-color: #cf7209;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

button:hover {
    color: #fff;
    background-color: #d37e05;
}

button:focus {
    box-shadow: 0 0 0 0.2rem rgba(241, 185, 144, 0.5);
}
