@using Microsoft.Extensions.Logging
@inject ILogger<NavMenu> Logger
@inject NavigationManager Navigation

<div>
    <ul>
        <li>
            <a @onclick="HandleThrowerClick" href="thrower">
                Let me throw!
            </a>
        </li>
        <li>
            <a @onclick="HandleCatcherClick" href="catcher">
                Let me also throw, but catch!
            </a>
        </li>
    </ul>
</div>

@code {
    private void HandleThrowerClick()
    {
        Logger.LogInformation("Heading to 'thrower'.");
        Navigation.NavigateTo("thrower");
    }

    private void HandleCatcherClick()
    {
        Logger.LogInformation("Heading to 'catcher'.");
        Navigation.NavigateTo("catcher");
    }
}
