@using Microsoft.Extensions.Logging
@inject ILogger<NavMenu> Logger
@inject NavigationManager Navigation

<nav>
    <a href="/">
        Home
    </a>
    <a @onclick="HandleThrowerClick" href="thrower">
        Let me throw!
    </a>
    <a @onclick="HandleCatcherClick" href="catcher">
        Let me also throw, but catch!
    </a>
</nav>

@code {
    private void HandleThrowerClick()
    {
        Logger.LogInformation("Heading to 'thrower'.");
        Navigation.NavigateTo("thrower");
    }

    private void HandleCatcherClick()
    {
        Logger.LogInformation("Heading to 'catcher'.");
        Navigation.NavigateTo("catcher");
    }
}
