

<div @onclick="ToggleNavMenu">
    <ul>
        <li>
            <NavLink href="thrower">
                Throw, Catch and Capture
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
