@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
        SentrySdk.CaptureMessage("IncrementCount: " + currentCount);

        try
        {
            Stuff.DoSomething();
        }
        catch (Exception e)
        {
            SentrySdk.CaptureException(e);
            //throw;
        }
    }

    private static class Stuff
    {
        public static void DoSomething() => Thrower();
        private static void Thrower() => throw null;
    }
}
