@page "/thrower"
@using Microsoft.Extensions.Logging
@inject ILogger<Thrower> Logger

<h1>Throw Exception</h1>

<button class="btn btn-primary" @onclick="Throw">Throw</button>

@if (SentrySdk.LastEventId != SentryId.Empty)
{
<p>Event Id: @SentrySdk.LastEventId</p>
}

@code {
    private void Throw()
    {
        Logger.LogInformation("Doing something ... ");
        Stuff.DoSomething();
    }

    private static class Stuff
    {
        public static void DoSomething() => Thrower();
        private static void Thrower() => throw null;
    }
}
