@page "/thrower"

<button class="btn btn-primary" @onclick="SetUser">Set User</button>
<button class="btn btn-primary" @onclick="SetTag">Set Tag</button>

@code {
    private void SetTag() => SentrySdk.ConfigureScope(s => s.SetTag("key-from-csharp", "value-from-csharp"));

    private void SetUser()
    {
        SentrySdk.ConfigureScope(s => s.User = new User
        {
            Email = "test-user@sentry.dev",
            Other = new Dictionary<string, string>
            {
                {"key", "value"}
            }
        });
    }
}
