@page "/thrower"
@using Microsoft.Extensions.Logging
@inject ILogger<Thrower> Logger

<h1>Throw an Exception!</h1>

<button class="btn btn-primary" @onclick="Throw">Throw</button>

@if (SentrySdk.LastEventId != SentryId.Empty)
{
    <p>Sentry Event Id: @SentrySdk.LastEventId</p>
}

@code {
    private void Throw()
    {
        try
        {
            Logger.LogInformation("Throwing something... ");
            StuffThrower.DoSomething();
        }
        finally
        {
            // To re-render the event ID
            StateHasChanged();
        }

    }

    private static class StuffThrower
    {
        public static void DoSomething() => Thrower();
        private static void Thrower() => throw null;
    }
}
