<div class="my-component">
    <p>Sentry Blazor SDK!</p>
    <script>
    console.log("SentryBlazor: Loading Sentry JavaScript...");
    </script>
  <script src="_content/Sentry.AspNetCore.Blazor/bundle.tracing.replay.min.js"></script>

</div>

