@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Sentry ASP.NET Sample</h1>
    </section>
    <div class="row">
        <a class="btn btn-primary" href="@Url.Action("Breakup","Home")">Break something</a>
    </div>
</main>