name: Assign to Project

on:
  issues:
    types: [opened]
  pull_request:
    types: [opened]
  issue_comment:
    types: [created]
env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  assign_one_project:
    runs-on: ubuntu-latest
    name: Assign to Default Project
    steps:
    - name: Assign NEW issues and NEW pull requests to project Default
      uses: srggrs/assign-one-project-github-action@4fc2b23bdaaac08e64dcc590a6e138d2f9b8c86e
      if: github.event.action == 'opened'
      with:
        project: 'https://github.com/getsentry/sentry-dotnet/projects/7'