name: build

on:
  push:
    branches:
      - main
      - release/*
  pull_request:

jobs:
  build-sentry-native:
    name: sentry-native (${{ matrix.os }})
    runs-on: ${{ matrix.os }}-latest
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu, windows, macos]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - run: git submodule update --init modules/sentry-native

      - uses: actions/cache@v3
        id: cache
        with:
          path: src/Sentry/Platforms/Native/sentry-native
          key: sentry-native-${{ runner.os }}-${{ hashFiles('scripts/build-sentry-native.ps1') }}-${{ hashFiles('.git/modules/modules/sentry-native/HEAD') }}
          enableCrossOsArchive: true

      - run: scripts/build-sentry-native.ps1
        if: steps.cache.outputs.cache-hit != 'true'
        shell: pwsh

  build:
    needs: build-sentry-native
    name: .NET (${{ matrix.os }})
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        # Pinning `macos-13` because Microsoft.iOS 16.4 requires Xcode 14.3 which is only built-in in 13
        os: [ubuntu-latest, windows-latest, macos-13]

    steps:
      - name: Cancel Previous Runs
        if: github.ref_name != 'main' && !startsWith(github.ref_name, 'release/')
        uses: styfle/cancel-workflow-action@01ce38bf961b4e243a6342cbade0dbc8ba3f0432 # Tag: 0.12.0

      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      # We use macOS for the final publishing build so we we get all the iOS/macCatalyst targets in the packages
      - name: Set Environment Variables
        if: startsWith(matrix.os, 'macos')
        run: echo "CI_PUBLISHING_BUILD=true" >> $GITHUB_ENV

      - name: Download sentry-native (Linux)
        if: ${{ (env.CI_PUBLISHING_BUILD == 'true') || (runner.os == 'Linux') }}
        uses: actions/cache/restore@v3
        with:
          path: src/Sentry/Platforms/Native/sentry-native
          key: sentry-native-Linux-${{ hashFiles('scripts/build-sentry-native.ps1') }}-${{ hashFiles('.git/modules/modules/sentry-native/HEAD') }}
          fail-on-cache-miss: true

      - name: Download sentry-native (macOS)
        if: ${{ (env.CI_PUBLISHING_BUILD == 'true') || (runner.os == 'macOS') }}
        uses: actions/cache/restore@v3
        with:
          path: src/Sentry/Platforms/Native/sentry-native
          key: sentry-native-macOS-${{ hashFiles('scripts/build-sentry-native.ps1') }}-${{ hashFiles('.git/modules/modules/sentry-native/HEAD') }}
          fail-on-cache-miss: true

      - name: Download sentry-native (Windows)
        if: ${{ (env.CI_PUBLISHING_BUILD == 'true') || (runner.os == 'Windows') }}
        uses: actions/cache/restore@v3
        with:
          path: src/Sentry/Platforms/Native/sentry-native
          key: sentry-native-Windows-${{ hashFiles('scripts/build-sentry-native.ps1') }}-${{ hashFiles('.git/modules/modules/sentry-native/HEAD') }}
          fail-on-cache-miss: true
          enableCrossOsArchive: true

      - name: Rebuild Solution Filters
        shell: pwsh
        run: scripts/generate-solution-filters.ps1

      - name: Ensure Solution Filters are up to date
        shell: pwsh
        run: scripts/dirty-check.ps1 -PathToCheck ./*.sln* -GuidanceOnFailure "Uncommitted changes to the solution filters detected. Run `scripts/generate-solution-filters.ps1` locally and commit changes."

      - name: Setup Environment
        uses: ./.github/actions/environment

      - name: Build Native Dependencies
        uses: ./.github/actions/buildnative

      - name: Build Cocoa SDK
        if: runner.os == 'macOS'
        uses: ./.github/actions/buildcocoasdk

      - name: Restore .NET Dependencies
        run: dotnet restore Sentry-CI-Build-${{ runner.os }}.slnf --nologo

      - name: Build
        run: dotnet build Sentry-CI-Build-${{ runner.os }}.slnf -c Release --no-restore --nologo -flp:logfile=build.log -p:CopyLocalLockFileAssemblies=true

      - name: Test
        run: dotnet test Sentry-CI-Build-${{ runner.os }}.slnf -c Release --no-build --nologo -l GitHubActions -l "trx;LogFilePrefix=testresults_${{ runner.os }}"

      - name: Upload build and test outputs
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: verify-test-results
          path: "**/*.received.*"

      # To save time and disk space, we only create and archive the Nuget packages when we're actually releasing.

      - name: Create Nuget Packages
        if: env.CI_PUBLISHING_BUILD == 'true'
        run: dotnet pack Sentry-CI-Build-${{ runner.os }}.slnf -c Release --no-build --nologo

      - name: Archive Nuget Packages
        if: env.CI_PUBLISHING_BUILD == 'true'
        uses: actions/upload-artifact@v3
        with:
          name: ${{ github.sha }}
          if-no-files-found: error
          path: |
            src/**/Release/*.nupkg
            src/**/Release/*.snupkg

  integration-test:
    needs: build
    name: Integration test (${{ matrix.os }})
    runs-on: ${{ matrix.os }}-latest

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu, windows, macos]

    steps:
      - uses: actions/checkout@v4
        with:
          sparse-checkout: |
            .github
            test/*.ps1
          sparse-checkout-cone-mode: false

      - name: Fetch Nuget Packages
        uses: actions/download-artifact@v3
        with:
          name: ${{ github.sha }}
          path: src

      - name: Setup Environment
        uses: ./.github/actions/environment

      - name: Test
        uses: getsentry/github-workflows/sentry-cli/integration-test/@v2
        with:
          path: test
