name: build

on:
  push:
    branches:
      - main
      - release/*
  pull_request:

jobs:
  build:
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        # Using macos-12 because we need Xcode 13.3 or later to build Sentry.Samples.Maui. (macos-latest currently points at macos-11 which uses Xcode 13.2)
        os: [ubuntu-latest, windows-latest, macos-12]

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@9f10b1b9fa56e99e4c5d12c2a085c8a0c37ab0ac # Tag: 0.10.1

      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Setup Environment
        uses: ./.github/actions/environment

      - name: Build Native Dependencies
        uses: ./.github/actions/buildnative

      - name: Build
        run: dotnet build -c Release --nologo /p:CopyLocalLockFileAssemblies=true

      - name: Test
        run: dotnet test -c Release --no-build --nologo -l GitHubActions -l "trx;LogFilePrefix=testresults_${{ runner.os }}"

      - name: Pack
        # Only pack in one build environment.  We'll use macOS so we can build for ios/maccatalyst targets
        if: startsWith(matrix.os, 'macos')
        run: dotnet pack -c Release --no-build --nologo

      - name: Upload Verify Results
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: verify-test-results
          path: |
            **/*.received.*

      - name: Archive Artifacts
        # only archive on macos since we only pack on macos. See Pack step.
        if: startsWith(matrix.os, 'macos')
        uses: actions/upload-artifact@v3
        with:
          name: ${{ github.sha }}
          if-no-files-found: error
          path: |
            ${{ github.workspace }}/src/**/Release/*.nupkg
