name: build

on:
  push:
    branches:
      - main
      - release/*
  pull_request:
jobs:
  build:
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
      DOTNET_NOLOGO: 1
      DOTNET_MULTILEVEL_LOOKUP: 1
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        include:
          - os: windows-latest
            build_script: .\buildWindows.ps1
          - os: ubuntu-latest
            build_script: ./buildLinux.sh
          - os: macos-latest
            env: solutionFilterFile =Sentry_Mac.slnf
            build_script: ./buildMac.sh

    steps:
        - name: Checkout
          uses: actions/checkout@v2.3.3
          with:
            submodules: recursive
            fetch-depth: 2 # default is 1 and codecov needs > 1

        - name: "Set up Java: 11"
          uses: actions/setup-java@v1
          with:
            java-version: 11

        - name: Setup .NET SDK (v2.1)
          uses: actions/setup-dotnet@v1
          with:
            dotnet-version: '2.1.818'
        - name: Setup .NET SDK (v3.1)
          uses: actions/setup-dotnet@v1
          with:
            dotnet-version: '3.1.x'
        - name: Setup .NET SDK (v5.0)
          uses: actions/setup-dotnet@v1
          with:
            dotnet-version: '5.0.x'
        - name: Setup .NET SDK (v6.0)
          uses: actions/setup-dotnet@v1
          with:
            dotnet-version: '6.0.x'

        - name: Install .NET Android workload
          run: dotnet workload install android

        - name: Run build script
          run: ${{ matrix.build_script }}

        - name: Publish coverage report
          uses: codecov/codecov-action@v1

        - name: Upload Verify Results
          if: failure()
          uses: actions/upload-artifact@v2
          with:
            name: verify-test-results
            path: |
              **/*.received.*

        - name: Archive Artifacts
          # only the ps1 script packages the SDK
          if: matrix.os == 'windows-latest'
          uses: actions/upload-artifact@v2
          with:
            name: ${{ github.sha }}
            if-no-files-found: error
            path: |
              ${{ github.workspace }}/src/**/Release/*.nupkg

