name: build

on:
  push:
    branches:
      - main
      - release/*
  pull_request:

jobs:
  build:
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        include:
          - os: windows-latest
            build_script: .\build.ps1
          - os: ubuntu-latest
            build_script: ./build.sh
          - os: macos-latest
            build_script: ./build.sh

    steps:
        - name: Checkout
          uses: actions/checkout@v2.3.3
          with:
            submodules: recursive

        - name: Setup .NET SDK (v2.1)
          uses: actions/setup-dotnet@v1.7.2
          with:
            dotnet-version: '2.1.809'

        - name: Setup .NET SDK (v3.1)
          uses: actions/setup-dotnet@v1.7.2
          with:
            dotnet-version: '3.1.401'

        - name: Setup .NET SDK (v5.0)
          uses: actions/setup-dotnet@v1.7.2
          with:
            dotnet-version: '5.0.100'

        - name: Run build script
          run: ${{ matrix.build_script }}

        - name: Publish coverage report
          uses: codecov/codecov-action@v1

        - name: Archive Artifacts
          uses: actions/upload-artifact@v2
          with:
            name: ${{ github.sha }}
            path: |
              ${{ github.workspace }}/src/**/Release/*.snupkg
              ${{ github.workspace }}/src/**/Release/*.nupkg
