name: build
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  build:
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        include:
          - os: windows-latest
            build_script: .\build.ps1
          - os: ubuntu-latest
            build_script: ./build.sh
          - os: macos-latest
            build_script: ./build.sh
    steps:
        - uses: actions/checkout@v2
        - name: .NET Core CLI 2.1
          uses: actions/setup-dotnet@v1
          with:
            dotnet-version: '2.1.809'
        - name: .NET Core CLI 3.1
          uses: actions/setup-dotnet@v1
          with:
            dotnet-version: '3.1.401'
        - name: .NET Core CLI 5.0 preview
          uses: actions/setup-dotnet@v1
          with:
            dotnet-version: '5.0.100-preview.8.20417.9'
        # https://github.com/actions/setup-dotnet/issues/25#issuecomment-583367317
        - name: Work around action/dotnet limitation
          shell: pwsh
          run: |
            $version = Split-Path (Split-Path $ENV:DOTNET_ROOT -Parent) -Leaf;
            $root = Split-Path (Split-Path $ENV:DOTNET_ROOT -Parent) -Parent;
            $directories = Get-ChildItem $root | Where-Object { $_.Name -ne $version };
            foreach ($dir in $directories) {
                $from = $dir.FullName;
                $to = "$root/$version";
                Write-Host Copying from $from to $to;
                Copy-Item "$from\*" $to -Recurse -Force;
            }
        - run: ${{ matrix.build_script }}
        - uses: codecov/codecov-action@v1

  docs:
    runs-on: ubuntu-latest
    name: publish API docs
    steps:
    - uses: actions/checkout@v1
    - uses: nikeee/docfx-action@v1.0.0
      name: Build Documentation
      with:
        args: docs/docfx.json
    - uses: maxheld83/ghpages@master
      name: Publish to gh-pages
      env:
        BUILD_DIR: docs/_site
        GH_PAT: ${{ secrets.GH_TOKEN }}
