name: build

on:
  push:
    branches:
      - main
      - release/*
  pull_request:
jobs:
  build:
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
      DOTNET_NOLOGO: 1
      DOTNET_MULTILEVEL_LOOKUP: 1
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        include:
          - os: windows-latest
            build_script: .\build.ps1
          - os: ubuntu-latest
            build_script: ./build.sh
          - os: macos-latest
            build_script: ./build.sh

    steps:
        - name: Checkout
          uses: actions/checkout@v2.3.3
          with:
            submodules: recursive
            fetch-depth: 2 # default is 1 and codecov needs > 1

        - name: Run build script
          run: ${{ matrix.build_script }}

        - name: Publish coverage report
          uses: codecov/codecov-action@v1

        - name: Upload Verify Results
          if: failure()
          uses: actions/upload-artifact@v2
          with:
            name: verify-test-results
            path: |
              **/*.received.*

        - name: Archive Artifacts
          # only the ps1 script packages the SDK
          if: matrix.os == 'windows-latest'
          uses: actions/upload-artifact@v2
          with:
            name: ${{ github.sha }}
            if-no-files-found: error
            path: |
              ${{ github.workspace }}/src/**/Release/*.nupkg

