name: build

on:
  push:
    branches:
      - main
      - release/*
  pull_request:

jobs:
  build:
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
      DOTNET_NOLOGO: 1
      # Prevent setup-dotnet action from stepping on pre-installed dotnet SDKs on Ubuntu and Windows (doesn't happen on macOS)
      DOTNET_INSTALL_DIR: ${{ startsWith(matrix.os, 'ubuntu') && '/usr/share/dotnet' || startsWith(matrix.os, 'windows') && 'C:\Program Files\dotnet' || '' }}

    strategy:
      fail-fast: false
      matrix:
        # Using macos-12 because we need Xcode 13.3 or later to build Sentry.Samples.Maui. (macos-latest currently points at macos-11 which uses Xcode 13.2)
        os: [ubuntu-latest, windows-latest, macos-12]

    steps:
        - name: Checkout
          uses: actions/checkout@v3
          with:
            submodules: recursive

        - name: Setup .NET SDK (Windows)
          if: startsWith(matrix.os, 'windows')
          uses: actions/setup-dotnet@v2
          with:
            dotnet-version: 2.1.818
        - name: Setup .NET SDK (macOS)
          if: startsWith(matrix.os, 'macos')
          uses: actions/setup-dotnet@v2
          with:
            dotnet-version: |
              2.1.818
              6.0.x
        - name: Setup .NET SDK (Ubuntu)
          if: startsWith(matrix.os, 'ubuntu')
          uses: actions/setup-dotnet@v2
          with:
            dotnet-version: 2.1.818

        - name: Dependency Caching
          uses: actions/cache@v3
          with:
            path: ~/.nuget/packages
            # We don't use a lockfile, so hash all files where we might be keeping <PackageReference> tags
            # Workloads also get installed in the nuget packages cache, so if you modify workloads below, increment the number in the cache keys
            key: ${{ runner.os }}-nuget+workloads2-${{ hashFiles('**/*.*proj', '**/*.props') }}
            restore-keys: ${{ runner.os }}-nuget+workloads2

        - name: Install .NET Workloads (Ubuntu)
          if: startsWith(matrix.os, 'ubuntu')
          run: dotnet workload install maui-android
        - name: Install .NET Workloads (Windows)
          if: startsWith(matrix.os, 'windows')
          run: dotnet workload install maui-android maui-windows
        - name: Install .NET Workloads (macOS)
          if: startsWith(matrix.os, 'macos')
          run: dotnet workload install maui-android maui-ios maui-maccatalyst

        - name: Build
          run: dotnet build -c Release /p:CopyLocalLockFileAssemblies=true

        - name: Test
          run: dotnet test -c Release --no-build -l GitHubActions -l "trx;LogFileName=${{ matrix.os }}-test-results.trx"

        - name: Pack
          # Only pack in one build environment.  We'll use macOS so we can build for ios/maccatalyst targets
          if: startsWith(matrix.os, 'macos')
          run: dotnet pack -c Release --no-build

        - name: Upload Verify Results
          if: failure()
          uses: actions/upload-artifact@v3
          with:
            name: verify-test-results
            path: |
              **/*.received.*

        - name: Archive Artifacts
          # only archive on macos since we only pack on macos. See Pack step.
          if: startsWith(matrix.os, 'macos')
          uses: actions/upload-artifact@v3
          with:
            name: ${{ github.sha }}
            if-no-files-found: error
            path: |
              ${{ github.workspace }}/src/**/Release/*.nupkg
