name: iOS Device Tests

on:
  push:
    branches:
      - main
      - release/*
  pull_request:

jobs:
  build:
    # Pinning `macos-13` because Microsoft.iOS 16.4 requires Xcode 14.3 which is only built-in in 13
    runs-on: macos-13
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
      DOTNET_NOLOGO: 1
      NO_ANDROID: true
      NO_MACCATALYST: true
    steps:
      - name: Cancel Previous Runs
        if: github.ref_name != 'main' && !startsWith(github.ref_name, 'release/')
        uses: styfle/cancel-workflow-action@01ce38bf961b4e243a6342cbade0dbc8ba3f0432 # Tag: 0.12.0

      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Build Cocoa SDK
        uses: ./.github/actions/buildcocoasdk

      - name: Setup Environment
        uses: ./.github/actions/environment

      - name: Restore .NET Dependencies
        run: dotnet restore test/Sentry.Maui.Device.TestApp --nologo

      - name: Build iOS Test App
        run: dotnet build test/Sentry.Maui.Device.TestApp -c Release -f net7.0-ios --no-restore --nologo

      - name: Upload iOS Test App
        uses: actions/upload-artifact@v3
        with:
          name: device-test-ios
          if-no-files-found: error
          path: test/Sentry.Maui.Device.TestApp/bin/Release/net7.0-ios/iossimulator-x64/Sentry.Maui.Device.TestApp.app

  ios:
    needs: [build]
    name: Run iOS Tests
    runs-on: macos-latest
    strategy:
      fail-fast: false
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
      DOTNET_NOLOGO: 1
    steps:

      - name: Checkout
        uses: actions/checkout@v4

      - name: Download test app artifact
        uses: actions/download-artifact@v3
        with:
          name: device-test-ios
          path: bin/Sentry.Maui.Device.TestApp.app

      - name: Install XHarness
        run: dotnet tool install Microsoft.DotNet.XHarness.CLI --global --version "1.*-*"

      - name: Run Tests
        id: first-run
        shell: bash +e {0}
        run: >
          xharness apple test \
            --app=bin/Sentry.Maui.Device.TestApp.app \
            --target=ios-simulator-64 \
            --launch-timeout=00:10:00 \
            --output-directory=./test_output \
          ; export exitcode=$? ; echo "exitcode=$exitcode" >> "$GITHUB_OUTPUT"

      - name: Retry Tests (if previous failed to run)
        if: steps.first-run.outputs.exitcode > 1
        run: >
          xharness apple test \
            --app=bin/Sentry.Maui.Device.TestApp.app \
            --target=ios-simulator-64 \
            --launch-timeout=00:10:00 \
            --output-directory=./test_output

      - name: Create Test Report
        if: success() || failure()
        run: scripts/parse-xunit2-xml.ps1 @(gci ./test_output/*.xml)[0].FullName | Out-File $env:GITHUB_STEP_SUMMARY
        shell: pwsh

      - name: Upload results
        if: success() || failure()
        uses: actions/upload-artifact@v3
        with:
          name: device-test-ios-results
          path: test_output
