name: Android Device Tests

on:
  push:
    branches:
      - main
      - release/*
  pull_request:
    paths-ignore:
      - "**.md"

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
      DOTNET_NOLOGO: 1
    steps:
      - name: Cancel Previous Runs
        if: github.ref_name != 'main' && !startsWith(github.ref_name, 'release/')
        uses: styfle/cancel-workflow-action@01ce38bf961b4e243a6342cbade0dbc8ba3f0432 # Tag: 0.12.0

      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set Java Version
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "11"

      - name: Setup Environment
        uses: ./.github/actions/environment

      - name: Build Native Dependencies
        uses: ./.github/actions/buildnative

      - name: Build Android Test App
        run: pwsh ./scripts/device-test.ps1 android -Build

      - name: Upload Android Test App
        uses: actions/upload-artifact@v4
        with:
          name: device-test-android
          if-no-files-found: error
          path: test/Sentry.Maui.Device.TestApp/bin/Release/net8.0-android/android-x64/io.sentry.dotnet.maui.device.testapp-Signed.apk

  android:
    needs: [build]
    name: Run Android API-${{ matrix.api-level }} Test

    # Requires a "larger runner", for nested virtualization support
    runs-on: ubuntu-latest-4-cores

    strategy:
      fail-fast: false
      matrix:
        # These are all a bit flaky. We used to run versions 27-31... now we just run 27 and 31
        api-level: [27, 31]
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
      DOTNET_NOLOGO: 1
    steps:
      # See https://github.blog/changelog/2023-02-23-hardware-accelerated-android-virtualization-on-actions-windows-and-linux-larger-hosted-runners/
      - name: Enable KVM group perms
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm

      - name: Checkout
        uses: actions/checkout@v4

      - name: Download test app artifact
        uses: actions/download-artifact@v4
        with:
          name: device-test-android
          path: bin

      - name: Setup Gradle
        uses: gradle/gradle-build-action@8cbcb9948b5892387aed077daf6f90e1f0ba5b27 # pin@v2

      # Cached AVD setup per https://github.com/ReactiveCircus/android-emulator-runner/blob/main/README.md

      - name: AVD cache
        uses: actions/cache@v3
        id: avd-cache
        with:
          path: |
            ~/.android/avd/*
            ~/.android/adb*
          key: ${{ runner.os }}-avd-api${{ matrix.api-level }}

      - name: Create AVD and generate snapshot for caching
        if: steps.avd-cache.outputs.cache-hit != 'true'
        timeout-minutes: 30
        uses: reactivecircus/android-emulator-runner@99a4aac18b4df9b3af66c4a1f04c1f23fa10c270 # pin@v3
        with:
          api-level: ${{ matrix.api-level }}
          # We don't need the Google APIs, but the default images are not available for 32+
          target: ${{ matrix.api-level >= 32 && 'google_apis' || 'default' }}
          force-avd-creation: false
          ram-size: 2048M
          arch: x86_64
          disk-size: 4096M
          emulator-options: -no-window -accel on -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: false
          script: echo "Generated AVD snapshot for caching."

      - name: Run Tests
        timeout-minutes: 30
        uses: reactivecircus/android-emulator-runner@99a4aac18b4df9b3af66c4a1f04c1f23fa10c270 # pin@v3
        with:
          api-level: ${{ matrix.api-level }}
          # We don't need the Google APIs, but the default images are not available for 32+
          target: ${{ matrix.api-level >= 32 && 'google_apis' || 'default' }}
          force-avd-creation: false
          ram-size: 2048M
          arch: x86_64
          disk-size: 4096M
          emulator-options: -no-snapshot-save -no-window -accel on -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: false
          script: pwsh scripts/device-test.ps1 android -Run

      - name: Upload results
        if: success() || failure()
        uses: actions/upload-artifact@v4
        with:
          name: device-test-android-${{ matrix.api-level }}-results
          path: test_output
