name: Device tests

on:
  push:
    branches:
      - main
      - release/*
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@b173b6ec0100793626c2d9e6b90435061f4fc3e5 # Tag: 0.11.0

      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Setup Environment
        uses: ./.github/actions/environment

      - name: Build Native Dependencies
        uses: ./.github/actions/buildnative

      - name: Restore .NET Dependencies
        run: dotnet restore test/Sentry.Maui.Device.TestApp --nologo

      - name: Build Android Test App
        run: dotnet build test/Sentry.Maui.Device.TestApp -c Release -f net6.0-android --no-restore --nologo

      - name: Upload Android Test App
        uses: actions/upload-artifact@v3
        with:
          name: device-test-android
          if-no-files-found: error
          path: test/Sentry.Maui.Device.TestApp/bin/Release/net6.0-android/io.sentry.dotnet.maui.device.testapp-Signed.apk

  android:
    needs: [build]
    name: Run Android API-${{ matrix.api-level }} Test
    # MacOS is required for the emulator, per https://github.com/ReactiveCircus/android-emulator-runner/blob/main/README.md
    # We use macos-12 because macos-latest will soon point there anyway, per https://github.com/actions/runner-images/issues/6384
    runs-on: macos-12
    strategy:
      fail-fast: false
      matrix:
        api-level: [27, 28, 29, 30, 31] # emulators for API 32 and 33 are flaky - skip for now
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
      DOTNET_NOLOGO: 1
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Download test app artifact
        uses: actions/download-artifact@v3
        with:
          name: device-test-android
          path: bin

      - name: Install XHarness
        run: curl -L https://aka.ms/get-xharness | bash -

      - name: Setup Gradle
        uses: gradle/gradle-build-action@3fbe033aaae657f011f88f29be9e65ed26bd29ef # pin@v2

      # Cached AVD setup per https://github.com/ReactiveCircus/android-emulator-runner/blob/main/README.md

      - name: AVD cache
        uses: actions/cache@v3
        id: avd-cache
        with:
          path: |
            ~/.android/avd/*
            ~/.android/adb*
          key: avd-hwaccel-${{ matrix.api-level }}

      - name: Create AVD and generate snapshot for caching
        if: steps.avd-cache.outputs.cache-hit != 'true'
        timeout-minutes: 30
        uses: reactivecircus/android-emulator-runner@50986b1464923454c95e261820bc626f38490ec0 # pin@v2
        with:
          api-level: ${{ matrix.api-level }}
          # We don't need the Google APIs, but the default images are not available for 32+
          target: ${{ matrix.api-level >= 32 && 'google_apis' || 'default' }}
          force-avd-creation: false
          ram-size: 2048M
          arch: x86_64
          disk-size: 4096M
          emulator-options: -no-window -accel on -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: false
          script: echo "Generated AVD snapshot for caching."

      - name: Run Tests
        timeout-minutes: 30
        uses: reactivecircus/android-emulator-runner@50986b1464923454c95e261820bc626f38490ec0 # pin@v2
        with:
          api-level: ${{ matrix.api-level }}
          # We don't need the Google APIs, but the default images are not available for 32+
          target: ${{ matrix.api-level >= 32 && 'google_apis' || 'default' }}
          force-avd-creation: false
          ram-size: 2048M
          arch: x86_64
          disk-size: 4096M
          emulator-options: -no-snapshot-save -no-window -accel on -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: false
          script: xharness android test --output-directory=./test_output --app=bin/io.sentry.dotnet.maui.device.testapp-Signed.apk --package-name=io.sentry.dotnet.maui.device.testapp

      - name: Create Test Report
        if: success() || failure()
        run: scripts/parse-xunit2-xml.ps1 ./test_output/TestResults.xml | Out-File $env:GITHUB_STEP_SUMMARY
        shell: pwsh

      - name: Upload results
        if: success() || failure()
        uses: actions/upload-artifact@v3
        with:
          name: device-test-android-${{ matrix.api-level }}-results
          path: test_output
