name: Device tests

on:
  push:
    branches:
      - main
      - release/*
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
        - name: Checkout
          uses: actions/checkout@v3
          with:
            submodules: recursive

        - name: Setup Environment
          uses: ./.github/actions/environment

        - name: Build Native Dependencies
          uses: ./.github/actions/buildnative

        - name: Build Android Test App
          run: dotnet build -c Release -f net6.0-android test/Sentry.Maui.Device.TestApp -o bin/

        - name: Upload Android Test App
          uses: actions/upload-artifact@v3
          with:
            name: device-test-android
            if-no-files-found: error
            path: bin/io.sentry.dotnet.maui.device.testapp-Signed.apk

  android:
    needs: [build]
    name: Run Android API-${{ matrix.api-level }} Test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        api-level: [31] # TODO: [27,28,29,30,31,32]
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Download test app artifact
        uses: actions/download-artifact@v3
        with:
          name: device-test-android
          path: bin

      - name: Install xharness
        run: dotnet tool install Microsoft.DotNet.XHarness.CLI --global --version "1.0.0-prerelease*"

      - name: Test
        continue-on-error: true   # Temporary until all tests are fixed
        timeout-minutes: 30
        uses: reactivecircus/android-emulator-runner@b390b0e1166697ae57c242a0a33c29ca9f5ae078
        with:
          api-level: ${{ matrix.api-level }}
          target: google_apis
          force-avd-creation: false
          ram-size: 2048M
          arch: x86_64
          cores: 2
          disk-size: 4096M
          emulator-options: -no-snapshot-save -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: false
          script: xharness android test --output-directory=./test_output --app=bin/io.sentry.dotnet.maui.device.testapp-Signed.apk --package-name=io.sentry.dotnet.maui.device.testapp

      - name: Test Report
        if: success() || failure()
        run: scripts/parse-xunit2-xml.ps1 ./test_output/TestResults.xml | Out-File $env:GITHUB_STEP_SUMMARY
        shell: pwsh

      - name: Upload results
        if:  success() || failure()
        uses: actions/upload-artifact@v3
        with:
          name: device-test-android-${{ matrix.api-level }}-results
          path: test_output
