name: iOS Device Tests

on:
  push:
    branches:
      - main
      - release/*
  pull_request:
    paths-ignore:
      - "**.md"
  workflow_dispatch:

jobs:
  ios-tests:
    runs-on: macos-15
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
      DOTNET_NOLOGO: 1
      NO_ANDROID: true
      NO_MACCATALYST: true
    steps:
      - name: Cancel Previous Runs
        if: github.ref_name != 'main' && !startsWith(github.ref_name, 'release/')
        uses: styfle/cancel-workflow-action@3155a141048f8f89c06b4cdae32e7853e97536bc # 0.13.0

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: recursive

      - name: Setup Environment
        uses: ./.github/actions/environment

      - name: Build iOS Test App
        run: pwsh ./scripts/device-test.ps1 ios -Build

      - name: Run Tests
        id: first-test-run
        continue-on-error: true
        timeout-minutes: 40
        run: pwsh scripts/device-test.ps1 ios -Run

      - name: Retry Tests (if previous failed to run)
        if: steps.first-test-run.outcome == 'failure'
        timeout-minutes: 40
        run: pwsh scripts/device-test.ps1 ios -Run

      - name: Run Integration Tests
        id: first-integration-test-run
        continue-on-error: true
        timeout-minutes: 40
        uses: getsentry/github-workflows/sentry-cli/integration-test@95603f4efe938315ff0dd427a1f2bb40b1889a92 # 3.2.0
        with:
          path: integration-test/ios.Tests.ps1

      - name: Retry Integration Tests (if previous failed to run)
        if: steps.first-integration-test-run.outcome == 'failure'
        timeout-minutes: 40
        uses: getsentry/github-workflows/sentry-cli/integration-test@95603f4efe938315ff0dd427a1f2bb40b1889a92 # 3.2.0
        with:
          path: integration-test/ios.Tests.ps1

      - name: Upload results
        if: success() || failure()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: device-test-ios-results
          path: |
            test_output
            integration-test/mobile-app/test_output
