name: iOS Device Tests

on:
  push:
    branches:
      - main
      - release/*
  pull_request:
    paths-ignore:
      - "**.md"

env:
  XCODE_VERSION: 16

jobs:
  ios-tests:
    runs-on: macos-latest
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
      DOTNET_NOLOGO: 1
      NO_ANDROID: true
      NO_MACCATALYST: true
    steps:
      - name: Cancel Previous Runs
        if: github.ref_name != 'main' && !startsWith(github.ref_name, 'release/')
        uses: styfle/cancel-workflow-action@85880fa0301c86cca9da44039ee3bb12d3bedbfa # Tag: 0.12.1

      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Build Cocoa SDK
        uses: ./.github/actions/buildcocoasdk

      - name: Setup Environment
        uses: ./.github/actions/environment

      - name: Setup Xcode
        run: |
          sudo xcode-select --switch /Applications/Xcode_${{env.XCODE_VERSION}}.app/Contents/Developer
          xcodebuild -version

      - name: Build iOS Test App
        run: pwsh ./scripts/device-test.ps1 ios -Build

      # Just for debugging purposes - on CI xharness can't seem to resolve the Info.plist fro our app
      - name: List files in bin directory
        run: |
          echo "Listing all files and directories under /Users/runner/work/sentry-dotnet/sentry-dotnet/"
          ls -R /Users/runner/work/sentry-dotnet/sentry-dotnet/

      - name: Run Tests
        id: first-run
        continue-on-error: true
        run: pwsh scripts/device-test.ps1 ios -Run

      - name: Retry Tests (if previous failed to run)
        if: steps.first-run.outcome == 'failure'
        run: pwsh scripts/device-test.ps1 ios -Run

      - name: Upload results
        if: success() || failure()
        uses: actions/upload-artifact@v4
        with:
          name: device-test-ios-results
          path: test_output
