name: API Docs

on:
  create:
    tags:
      - '*'

jobs:
  docs:
    name: DocFX
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: nikeee/docfx-action@b9c2cf92e3b4aa06878a1410833a8828b4bdcd26 # pin@v1.0.0
        name: Build Documentation
        with:
          args: docs/docfx.json
      - uses: peaceiris/actions-gh-pages@373f7f263a76c20808c831209c920827a82a2847 # pin@v3
        name: Publish to GitHub Pages
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/_site
          force_orphan: true
      - name: Archive Docs
        uses: actions/upload-artifact@v4
        with:
          name: docs
          path: docs/_site
