name: format code
on:
  pull_request:

jobs:
  format-code:
    name: Format Code
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Restore
        run: dotnet restore Sentry.sln
      - name: Format Code
        run: dotnet format Sentry.sln --exclude modules/Ben.Demystifier --verbosity diag
      
      # actions/checkout fetches only a single commit in a detached HEAD state. Therefore
      # we need to pass the current branch, otherwise we can't commit the changes.
      # GITHUB_HEAD_REF is the name of the head branch. GitHub Actions only sets this for PRs.
      - name: Commit Formatted Code
        run: ./scripts/commit-formatted-code.sh $GITHUB_HEAD_REF
