name: format code
on:
  pull_request:
    paths:
      - 'src/**'
      - 'test/**'
      - 'samples/**'
      - '.github/workflows/format-code.yml'

jobs:
  format-code:
    name: Format Code
    # Running on 'macos' because Linux is missing the `ios` workload
    # See: https://github.com/dotnet/runtime/issues/85505
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup Environment
        uses: ./.github/actions/environment

      - name: Restore .NET Dependencies
        # We should be able to get rid of the restore here, if we install the correct workloads in actions/environment
        run: |
          dotnet workload restore
          dotnet restore Sentry.sln --nologo

      - name: Install dotnet format
        run: dotnet tool install -g dotnet-format

      - name: Format Code
        # We're excluding `./**/*OptionsSetup.cs` from the format because the tool struggles with
        # source generators
        run: dotnet format Sentry.sln --no-restore --exclude ./modules --exclude ./**/*OptionsSetup.cs

      # actions/checkout fetches only a single commit in a detached HEAD state. Therefore
      # we need to pass the current branch, otherwise we can't commit the changes.
      # GITHUB_HEAD_REF is the name of the head branch. GitHub Actions only sets this for PRs.
      - name: Commit Formatted Code
        run: ./scripts/commit-formatted-code.sh $GITHUB_HEAD_REF
