name: Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: Version to release
        required: true
      merge_target:
        description: Target branch to merge into. Uses the default branch as a fallback (optional)
        required: false
      force:
        description: Force a release even when there are release-blockers (optional)
        required: false

jobs:
  job_release:
    runs-on: ubuntu-latest
    name: 'Release a new version: ${{ github.event.inputs.version }}'
    steps:
      - name: Get auth token
        id: token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{ vars.SENTRY_RELEASE_BOT_CLIENT_ID }}
          private-key: ${{ secrets.SENTRY_RELEASE_BOT_PRIVATE_KEY }}
      - name: Check out current commit (${{ github.sha }})
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          token: ${{ steps.token.outputs.token }}
          fetch-depth: 0

      - name: Prepare release ${{ github.event.inputs.version }}
        uses: getsentry/action-prepare-release@c8e1c2009ab08259029170132c384f03c1064c0e # v1.6.6
        env:
          GITHUB_TOKEN: ${{ steps.token.outputs.token }}
        with:
          version: ${{ github.event.inputs.version }}
          force: ${{ github.event.inputs.force }}
          merge_target: ${{ github.event.inputs.merge_target }}
