name: Update Dependencies

on:
  # Run every day.
  schedule:
    - cron: "0 3 * * *"
  # Allow a manual trigger to be able to run the update when there are new dependencies or after a PR merge to resolve CHANGELOG conflicts.
  workflow_dispatch:

jobs:
  deps:
    name: ${{ matrix.name }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Cocoa SDK
            path: modules/sentry-cocoa.properties
          - name: Java SDK
            path: scripts/update-java.ps1
          - name: Native SDK
            path: modules/sentry-native
          - name: CLI
            path: scripts/update-cli.ps1
    steps:
      - uses: getsentry/github-workflows/updater@747c4c2906d373f5cd809abe94a7fd732a2421a7 # 3.2.1
        with:
          name: ${{ matrix.name }}
          path: ${{ matrix.path }}
          ssh-key: ${{ secrets.CI_DEPLOY_KEY }}
          changelog-entry: false
