name: check vulnerable nuget packages

on: [push, pull_request]

jobs:
  check-vulns:
    runs-on: ubuntu-latest

    steps:
        - name: Checkout
          uses: actions/checkout@v2.3.3
          with:
            submodules: recursive
            fetch-depth: 2

        - name: List vulnerable packages
          run: dotnet list package --vulnerable --include-transitive
